* {
    font-family: 'Montserrat';
}

html{
    height: 100%;
}

body{
    background-color: #0d0c17;
    color: white;
    margin: 0;
}

#contenedor1-perfil{
    grid-template-rows: 30% 70%;
    grid-template-columns: auto;
}

#fondo-tarjeta {
    padding: 30%;
}

#encabezado{
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size:20px;
    box-shadow: 0 0 10px #626075;
    background-color: #0d0c17;
}
.imagen-redonda{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    border: 4px solid #0d0c1782;
}

#perfil-motorista{
    display: grid;
    grid-template-columns: auto 75%;
    grid-template-rows: auto;
    position: absolute;
    top: 130px;
    margin-left: 20px;
}

/* #img-perfil-motorista{
    position: absolute;
    top: 120px;
    left: 40px;
} */

#nombre-tarjeta-perfil{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: 35px;
    font-size: 20px;
    font-weight: 100;
    row-gap: 4px;
}

#texto-codigo{
    font-size: small;
}

#informacion{
    display: flex;
    flex-direction: column;
    margin: 15% 0 0 10%;
    font-weight: 100;
}

#informacion label{
    font-family: 'Montserrat';
    font-size: 20px;
}

#informacion p{
    font-size: small;
    font-weight: 100;
    margin: 5px 0 30px 0;
}

#informacion i{
    color: #626075;
    text-align: right;
    margin-right: 15%;
}


.degradado-difuminado {
    background: linear-gradient(45deg, 
      rgba(195, 107, 217, 0.6),  /* Color con transparencia */
      rgba(61, 41, 177, 0.6),    /* Color con transparencia */
      rgba(108, 101, 196, 0.6),  /* Color con transparencia */
      rgba(195, 107, 217, 0.6)   /* Color con transparencia */
    );
    /* Otras propiedades de diseño si las necesitas */
    /* width: ...; */
    /* height: ...; */
    /* padding: ...; */
    /* etc. */
}



#pie-pagina{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 30px;
    display: flex; 
    justify-content:space-evenly;
    column-gap: 50px;
    background-color: #0d0c17;
}


.fa-clipboard-list,.fa-clock,.fa-user{
    font-size: 30px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color:none;
}

.seleccionado{
    color: white;
}

.no-seleccionado{
    color: #626075;
}

.borde-difuminado {
    box-shadow: 0 0 15px 1px #626075;
}

#img-card{
    height: 80px;
    width: 80px;
    border-radius: 50px;    
}

/* #contenedor-cards{
    margin-top: 80px; 
    max-height: calc(100vh - 200px); 
    overflow-y: scroll; 
    background: linear-gradient(45deg, 
      rgba(195, 107, 217, 0.6), 
      rgba(61, 41, 177, 0.6),    
      rgba(108, 101, 196, 0.6), 
      rgba(195, 107, 217, 0.6)   
    );

    

} */

#contenedor-cards {
    margin-top: 80px; /* Altura del encabezado + un margen para separar el contenido */
    height: calc(107vh - 200px); /* Altura máxima del div con scroll */
    overflow-y: auto; /* Agrega barras de desplazamiento verticales cuando el contenido excede la altura máxima */
    padding: 20px;
    background: linear-gradient(45deg, 
      rgb(113, 50, 129),  /* Color con transparencia */
      rgb(32, 18, 114),    /* Color con transparencia */
      rgb(50, 45, 114),  /* Color con transparencia */
      rgb(103, 44, 118)   /* Color con transparencia */
    );
    box-sizing: border-box; /* Agregado para ajustar correctamente el padding dentro del contenedor */
}

.card-pedido{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    margin-bottom: 13px;
    padding: 20px;
    background-color: #0d0c179b;
    border-radius: 4px;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
}

#info-card{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    justify-content: center;
    
}

/* clases y estilos para el modal  ------------------*/
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    /* background-color: #190c21; */
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
    background: linear-gradient(to bottom, #443e8ae7, rgba(137, 62, 155, 0.819));
}

.fa-pen{
    font-size: 25px;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #6d65c2e7;
    --bs-btn-border-color: #0d0c17;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6d65c2e7;
    --bs-btn-hover-border-color: #6d65c2e7;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #6d65c2e7;
    --bs-btn-active-border-color: #6d65c2e7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6d65c2e7;
    --bs-btn-disabled-border-color: #6d65c2e7;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0d0c17;
    --bs-btn-border-color: #0d0c17;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d0c17;
    --bs-btn-hover-border-color: #0d0c17;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(105, 40, 121, 0.975);
    --bs-btn-active-border-color: #0d0c17;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d0c17;
    --bs-btn-disabled-border-color: #0d0c17;
}

.modal-content{
    margin-top: 20%;
}

.modal-container-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 30px;

}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #0d0c178c;
    background-clip: padding-box;
    border: #0d0c17 solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: white;
    background-color: #0d0c17be;
    border-color: rgba(46, 9, 61, 0.73); /* Reducir la opacidad del borde */
    outline: none; /* Eliminar el contorno predeterminado del enfoque */
    box-shadow: 0 0 15px rgba(56, 10, 68, 0.645); /* Agregar un efecto de sombra difuminada */
  }

.form-control::placeholder{
    color: #626075;
}






